.button-container {
  position: relative;
  display: inline-block;
}

.button-container:hover {
  transform: scale(1.1, 1.1);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  height: 10vh;
}

.button-image {
  height: 25vh;
}
